<h1>Slow Client Bench</h1>
<div class="metrics">
    <p>
        Current delay: <span id="delay"></span>
    </p>
    <p>
        Delay change: <span id="delay_change"></span>
    </p>
</div>
<div class="peers">
    <p>
        Number of peers: <span id="peers_number"></span>
    </p>
    <ul id="peers">
    </ul>
</div>
